<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parts/header_main') %>
</head>
<body>
    <%- include('../parts/navbar') %>

    <!-- begin container -->
    <div class="container">
    </div>
    <!-- end container -->
    
    <%- include('../parts/footer_content') %>

    <%- include('../parts/footer_general') %>
</body>
</html>