<!-- begin footer -->
<footer class="footer">
    <div class="container">
    <p class="text-muted">&copy; <%= items.current_year %> | Created by Ronley Vinberk | Mentor by Ian Mustafa</p>
    </div>
</footer>
<!-- end footer -->